<div class="checkout-container">
  <h2>Order Complete!</h2>

  <p>
    Nice, your order is complete. If we stored orders, we could show you what you
    purchased here. Your cart has been cleared.
  </p>

  <%!--= link("Go Home", to: Sneakers23Web.Router.Helpers.product_path(@conn, :index)) --%>
  <.link navigate={~p"/products"}>Go Home</.link>
</div>

<script type="text/javascript">
  delete localStorage.storedCart
</script>
